In [1]:
import psycopg2 as pg 
import pandas as pd

In [2]:
def create_DB():
    # connect to default DB
    conn = pg.connect("host=127.0.0.1 dbname=postgres user=postgres password=root ")
    # autocommit for every query 
    conn.set_session(autocommit=True)
    # cursor to execute quries 
    cur = conn.cursor()

    # creating our DB
    cur.execute("DROP DATABASE IF EXISTS cars")
    cur.execute("CREATE DATABASE cars")

    # closing default connection 
    conn.close()

    # connecting to our DB 
    conn = pg.connect("host=127.0.0.1 dbname=cars user=postgres password=root ")
    # to avoid transaction errors 
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur , conn

In [3]:
# car details4
car_details = pd.read_csv('Car details4.csv')
car_details.columns
car_details_cleaned = car_details[['Make','Model', 'Price','Kilometer','Owner','Engine','Max Torque']]
car_details_cleaned.head()

,Make,Model,Price,Kilometer,Owner,Engine,Max Torque
0,Honda,Amaze 1.2 VX i-VTEC,505000,87150,First,1198 cc,109 Nm @ 4500 rpm
1,Maruti Suzuki,Swift DZire VDI,450000,75000,Second,1248 cc,190 Nm @ 2000 rpm
2,Hyundai,i10 Magna 1.2 Kappa2,220000,67000,First,1197 cc,112.7619 Nm @ 4000 rpm
3,Toyota,Glanza G,799000,37500,First,1197 cc,113 Nm @ 4200 rpm
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,69000,First,2393 cc,343 Nm @ 1400 rpm

In [4]:
cur , conn = create_DB()

In [5]:
cars_table_create = ("""CREATE TABLE IF NOT EXISTS car_details(
    CAR_ID BIGSERIAL NOT NULL PRIMARY KEY,
    Make VARCHAR,
    model VARCHAR,
    Price VARCHAR,
    Kilometer VARCHAR,
    Owner VARCHAR, 
    Engine VARCHAR,
    Max_Torque VARCHAR
);""")

In [6]:
cur.execute(cars_table_create)
conn.commit()

In [7]:
cars_table_insert=("""INSERT INTO car_details(
    Make,
    model,
    Price,
    Kilometer,
    Owner,
    Engine,
    Max_Torque) 
    VALUES (%s,%s,%s,%s,%s,%s,%s)
     """)

In [8]:
for i , row in car_details_cleaned.iterrows():
    cur.execute(cars_table_insert,list(row))